chromadb==1.5.9
fastapi==0.136.1

langchain==1.0.8
langchain-community==0.4.1
langchain-huggingface==1.0.1

sentence-transformers==5.1.2
transformers==4.55.4

numpy==1.26.4
scipy==1.11.4
scikit-learn==1.5.2

pillow==11.3.0

python-multipart==0.0.22
uvicorn[standard]==0.35.0
